<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true" backupGlobals="false">
    <logging>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory suffix=".php">../vendor</directory>
            <directory suffix=".php">.</directory>
        </blacklist>
    </filter>
	<testsuite name="Test Suite">
		<directory>./LosLogTest</directory>
	</testsuite>
</phpunit>
