<?php
return [
    'dependencies' => [
        'factories' => [
            LosMiddleware\LosLog\LosLog::class => LosMiddleware\LosLog\LosLogFactory::class,
        ],
    ],
    'loslog' => [
        /**
         * Default log directory
         */
        'log_dir' => 'data/logs',

        /**
         * Log filename for the ErrorLogger
         */
        'error_logger_file' => 'error.log',

        /**
         * Log filename for the ExceptionLogger
         */
        'exception_logger_file' => 'exception.log',

        /**
         * Log filename for the StaticLogger
         */
        'static_logger_file' => 'static.log',
    ],
];

